<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <h3 style='padding:15px 0;'>My URLs</h3>
  <%
    if(user){
      if(urls && Object.keys(urls).length > 0){ %>
        <table style='width: 80%;'>
          <thead>
            <td>ID</td>
            <td>URLs</td>
            <td></td>
            <td></td>
            <td>Created At</td>
          </thead>
          <tbody>
              <% console.log('urls: ', urls); for(url in urls){  %>
              <tr>
                <td class='tab-padding'>
                  <%= url %>
                </td>
                <td class='tab-padding'>
                  <a href=<%=`/u/${url}`%>><%= urls[url].longURL %></a>
                </td>
                <td class='tab-padding'>
                  <a href=<%=`/urls/${url}`%>>EDIT</a>
                </td>
                <td class='tab-padding'>
                  <form method="POST" action=<%=`/urls/${url}?_method=DELETE`%>>
                    <button>DELETE</button>
                  </form>
                </td>
                <td>
                  <%= urls[url].createdAt %>
                </td>

              </tr>
            <%} // end for %>
          </tbody>
        </table>

      <%}else{ %>
        <p>Please <a href="/urls/new">Create New TinyURL</a></p>
      <%} // end if urls
    }else{%>
      <p>Please <a href="/login">Log in</a> or <a href="/register">Register</a></p>
    <%
    } // end if user
  %>
</body>
</html>